<li class="span12">
  <div href="#" class="thumbnail">
    <div class=".eventrow">
      <img class="profile inlinebox" src="data:image/gif;base64,<%= img %>" alt="">
      <span class="text inlinebox">
	<%= rendered %>
      </span>
    </div>
</li>
