  <li class="photo span">
    <div class="thumbnail">
      <a href="https://github.com/<%= actor_attributes.login %>"><img class="profile" src="data:image/gif;base64,<%= img %>" alt=""></a>
      <h3><%= lang %></h3>
    </div>
  </li>
